/* ================================= */
/* PÉTALAS DE LUZ */
/* ================================= */

.flower-Light {

    position: absolute;

    left: 50%;
    top: 50%;

    width: 38px;
    height: 65px;

    margin-left: -19px;
    margin-top: -32px;

    border-radius:
        0 100% 50% 100%;

    opacity: 0;

    transform-origin: 50% 100%;

    animation:
        lightBloom 0.8s ease-out forwards,
        glowPulse 2s ease-in-out 4s infinite alternate;
}


/* CORES DAS PÉTALAS */

.flower-Light:nth-child(odd) {

    background-color: #ffea00;

    filter:
        blur(2px)
        drop-shadow(
            0 0 10px #ffd85f
        );
}


.flower-Light:nth-child(even) {

    background-color: #ff6236;

    filter:
        blur(2px)
        drop-shadow(
            0 0 10px #ff6236
        );
}


/* ================================= */
/* ROTAÇÃO DE CADA PÉTALA */
/* ================================= */

.light-1 {
    --angle: 0deg;
    animation-delay: 2.9s, 4s;
}

.light-2 {
    --angle: 45deg;
    animation-delay: 3s, 4.1s;
}

.light-3 {
    --angle: 90deg;
    animation-delay: 3.1s, 4.2s;
}

.light-4 {
    --angle: 135deg;
    animation-delay: 3.2s, 4.3s;
}

.light-5 {
    --angle: 180deg;
    animation-delay: 3.3s, 4.4s;
}

.light-6 {
    --angle: 225deg;
    animation-delay: 3.4s, 4.5s;
}

.light-7 {
    --angle: 270deg;
    animation-delay: 3.5s, 4.6s;
}

.light-8 {
    --angle: 315deg;
    animation-delay: 3.6s, 4.7s;
}


/* ================================= */
/* NASCIMENTO DAS PÉTALAS */
/* ================================= */

@keyframes lightBloom {

    from {

        opacity: 0;

        transform:
            rotate(var(--angle))
            translateY(-27px)
            scale(0);

    }

    to {

        opacity: 1;

        transform:
            rotate(var(--angle))
            translateY(-27px)
            scale(1);

    }

}


/* ================================= */
/* BRILHO PULSANDO */
/* ================================= */

@keyframes glowPulse {

    from {

        opacity: 0.7;

    }

    to {

        opacity: 1;

    }

}
